<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="row">
            <a class="navbar-brand" href="#">
                <div class="form-inline">
                    <img id="logo" src="../assets/Logo.jpg" class="center-block" style="width: 30vh;">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto mt-0">
                    <a id="authors-navbar-item" class="nav-item nav-link" style="cursor: pointer;" (click)="showPagina0C()">Buscar</a>
                    <a id="authors-navbar-item" class="nav-item nav-link" style="cursor: pointer;" (click)="showPagina2C()">Historico Busquedas</a>
                    <a id="authors-navbar-item" class="nav-item nav-link" style="cursor: pointer;" (click)="showPagina3C()">Historico Actualizaciones</a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <div *ngIf="showPagina0">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <agm-map [zoom]="6" [latitude]="4" [longitude]="-74">
                    </agm-map>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style=" text-align: center">
                    <div class="row" style="text-align: center">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <input class="form-control" [(ngModel)]="direccion" id="direccion" aria-describedby="direccion" placeholder="Ingresar Direccion">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" [(ngModel)]="localidad" id="localidad" aria-describedby="localidad" placeholder="Ingresar Localidad">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" [(ngModel)]="ciudad" id="ciudad" aria-describedby="ciudad" placeholder="Ingresar Ciduad">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style=" text-align: center">
                    <button type="button" class="btn btn-primary"(click)="submitCalculo()">Submit</button>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>

        <div *ngIf="showPagina1">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <agm-map [latitude]="busqueda.latitud" [longitude]="busqueda.longitud">
                        <agm-marker *ngIf="!busqueda.actualizado" [latitude]="busqueda.latitud" [longitude]="busqueda.longitud" [label]="'*'">
                        </agm-marker>
                        <agm-marker *ngIf="busqueda.actualizado" [latitude]="busqueda.latitud" [longitude]="busqueda.longitud">
                        </agm-marker>
                    </agm-map>
                    <div class="row" >
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style=" text-align: center">
                            <label>Tipo Predio:</label> <label [ngModel]="busqueda.tipoPredio" ></label>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>   
        </div>

        <div *ngIf="showPagina2">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <agm-map [zoom]="6" [latitude]="4" [longitude]="-74">
                        <div *ngFor = "let busq of busquedas">
                            <agm-marker *ngIf="!busqueda.actualizado" [latitude]="busqueda.latitud" [longitude]="busqueda.longitud" [label]="'*'">
                            </agm-marker>
                            <agm-marker *ngIf="busqueda.actualizado" [latitude]="busqueda.latitud" [longitude]="busqueda.longitud">
                            </agm-marker>
                        </div>
                    </agm-map>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div *ngIf="showPagina3">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <agm-map [zoom]="6" [latitude]="4" [longitude]="-74" >

                    </agm-map>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>




        <br>
        <br>
    </div>
    <footer class="footer" id="footer">
        <div class="container">
            <p class="navbar-text text-center">
                <img src="../assets/uniandes.png" alt="logo" width="12%" />
                <span id="footer-text">© Equipo ByteLanders</span>
                <a (click)="showPagina0C()"> MoviApp</a>
            </p>
        </div>
    </footer>
</div>